
experiment:
  name: mlp_optuna_search
  type: "price_prediction"
  hyperparams_search: True
  monitor: val_loss
  mode: min
  n_trials: 3 # for random search 
  random_state: 42 # for reproducibility


data:
  # df_path: "data/sp500_daily_data.parquet" # if left out the pipeline takes it automatically
  target_col: "y"
  feature_cols: ['feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4',
        'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9',
        'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14',
        'feature_15', 'feature_16', 'feature_17', 'feature_18', 'feature_19']
  standardize: true # never used

walkforward:
  max_folds: 
  step: 251
  ratio_train: 3
  ratio_val: 1
  ratio_test: 1
  lags: 20

trainer:
  hparams:
    epochs: 50
    batch_size: 512 # P. said 256-512 to "kill some noise"
    #patience: 8
    metrics: ["mae","mse", "dir_acc"]
    loss: "mse"
    val_every: 1
  search:
    lr: {type: float, low: 1.0e-5, high: 1.0e-3, log: False}
    weight_decay:  {type: float, low: 0, high: 1.0e-2, log: False}

model:
  name: mlp
  hparams:
    output_activation: linear
  search:
    dropout_rate:   {type: float, low: 0.0, high: 0.5}
    activation:    {type: cat,   choices: [relu, gelu, tanh]}
    n_layers:      {type: int,   low: 1, high: 10}
    n_hidden:      {type: int,   low: 64, high: 1024}



